

body {
  
/*
    margin-left: 15%;
    margin-right: 15%;
*/
    background-color: #ffffff;
    font-family: Roboto;
    color: #291f1a;   
}


.green {
    font-family: Roboto;
    font-weight: 500;
    color: #3dc92a;
}

h1 {
    font-family: Roboto;
    font-weight: lighter;
    font-size: 220px;
    color: #fffefe;
    font-weight: 100;
}

h3, h4 {
    font-family: Roboto;
    font-size: 100px;
    color: #fffefe;
    font-weight: 300;
}

#main {
    overflow: hidden;
    width: 100%;
}

#main a{
    display: inline-block;
    float: right;
    color: white;
    text-align: center;
    position: fixed;
    padding: 100px;
    right: 200px;
    font-size: 64px;
    z-index: 100;
    top: 0;
}

.hero-img {
    background-image: url(../images/img/header-background.jpg);
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 1450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}